*{
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style:none;
}

html, body{
	height: 100%;

}

 body{
	margin: 0;
    padding: 0;
    background: url(pp.jpg) no-repeat center center fixed;
    background-size: 100% 100%;
     

 }
img{
    width: 200px;
    height: 250px;
    margin-top: 16%;
   
}
h1{
    color: #FFFFFF;
    font-family: cursive;
   
}
.start{
    background-position: top;
   
}